@define-color black	#282828;
@define-color red	#cc241d;
@define-color green	#98971a;
@define-color yellow	#d79921;
@define-color blue	#458588;
@define-color purple	#b16286;
@define-color aqua	#689d6a;
@define-color gray	#a89984;
@define-color bright_gray	#928374;
@define-color bright_red	#fb4934;
@define-color bright_green	#b8bb26;
@define-color bright_yellow	#fabd2f;
@define-color bright_blue	#83a598;
@define-color bright_purple	#d3869b;
@define-color bright_aqua	#8ec07c;
@define-color white	#ebdbb2;
@define-color background #504945;

@define-color orange #d65d0e;
@define-color bright_orange #fe8019;

* {
  border: none;
  border-radius: 0;
  font-family: 'JetBrainsMono';
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: rgba(29, 32, 33, .8);
  border-radius: 100px;
  padding-top: 10px;
  color: @white;
}

window#waybar.hidden {
  opacity: 0.0;
}

.modules-right, .modules-left, .modules-center {
  margin: 5px;
}

tooltip {
  background: rgba(29, 32, 33, .9);
  border-radius: 10px;
}

tooltip label {
  color: @white;
}

#workspaces button {
  border-radius: 100px;
  padding: 0 5px;
  margin: 0 2px;
  color: @white;
}

#workspaces button:hover {
  background: rgba(29, 32, 33, .9);
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.active {
  background: @blue;
  color: @black;
}

#workspaces button.urgent {
  background-color: @bright_red;
  color: @black;
}

#mode {
  background: #64727D;
  border-bottom: 3px solid #ffffff;
}

#clock, #bluetooth, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode {
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 100px;
}

#bluetooth {
  padding: 0 9;
  color: @bright_blue;
}

#bluetooth.connected {
  color: @blue;
}

#bluetooth.off {
  color: @bright_red;
}

#clock {
  font-weight: 600;
}

#battery {
}

#battery.charged {
  color: @bright_green;
}

#battery.warning:not(.charging) {
  color: @bright_red;
}

#battery.critical:not(.charging) {
  color: @bright_red;
}

#backlight {
  color: @bright_yellow;
}

#network {
  color: @bright_aqua;
}

#network.disconnected {
  color: @red;
}

#pulseaudio {
  color: @bright_purple;
}

#pulseaudio.muted {
  background: @bright_red;
  color: @black;
}

#tray {
  /* background-color: #2980b9; */
}
