* {
  border: none;
  border-radius: 0;
  font-family: 'JetBrainsMono';
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: rgba(29, 32, 33, .9);
  border-radius: 100px;
  padding-top: 10;
  margin-top: 100px;
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.0;
}

.modules-right, .modules-left, .modules-center {
  margin: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  border-radius: 100px;
  padding: 0 5px;
  color: #ffffff;
}

#workspaces button.active {
  background: #83a598;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background: #64727D;
  border-bottom: 3px solid #ffffff;
}

#clock, #bluetooth, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode {
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 100px;
}

#bluetooth {
  padding: 0 9;
}

#bluetooth {
  /* background-color: #458488; */
}

#clock {
  /* background-color: #64727D; */
}

#battery {
  /* background-color: #ffffff; */
  /* color: #000000; */
}

#battery.charging {
  /* color: #ffffff; */
  /* background-color: #26A65B; */
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  /* background: #90b1b1; */
}

#network {
  /* background: #2980b9; */
}

#network.disconnected {
  /* background: #f53c3c; */
}

#pulseaudio {
  /* background: #f1c40f; */
  /* color: #000000; */
}

#pulseaudio.muted {
  background: #90b1b1;
  color: #2a5c45;
}

#tray {
  /* background-color: #2980b9; */
}
